agm-map {
    height: 300px;
  }
#mapa{
  height: 350px;
}
#huariqueros{
  position:absolute;
  top:95%;
  left:50%;
  transform:translate(-50%,-50%);
  font-size: 200%;
  text-align: center;
  transition:.5s;
  color: #5e1300;
}
.logo{
  transition:.5s;
  position:absolute;
  top:45%;
  left:50%;
  transform:translate(-50%,-50%);
  height: 55%;
  content:url("../../../assets/images/logoSinFondo.png")
}
.all{
  background-image: url("./../../../assets/images/back.png");
  background-size: 300px 300px;
  min-height: 100vh;
  height: auto;
  margin: 0;
  min-width: 100vh;
  width: auto;
}
.search {
  position:absolute;
  top:83%;
  left:50%;
  transform:translate(-50%,-50%);
  width:80px;
  height:80px;
  background:#ffe61d;
  box-shadow:0 5px 20px rgba(0,0,0,.5);
  border-radius:4px;
  transition:width .5s;
  overflow:hidden;
}
.search #search {
  background:#ffe61d;
}
.search.active #search {
  background:#ffef64;
}

.search.active {
  width:600px;
}
::placeholder { color: rgba(94, 19, 0, 0.5); }
.search input {
  position:absolute;
  top:10px;
  left:10px;
  width:calc(100% - 90px);
  height:60px;
  border:none;
  outline:none;
  font-size:36px;
  padding:0 10px;
  color:#666;
  
}
.search.active .icon {
  background:#c42800;
}

.icon {
  position:absolute;
  top:10px;
  right:10px;
  width:60px;
  height:60px;
  cursor:pointer;
  transition:.5s;
  border-radius:4px;
}
.search.active .icon:before {
  content:'';
  position:absolute;
  top:7px;
  left:13px;
  width:18px;
  height:30px;
  background:transparent;
  border:none;
  border-right:2px solid #fee113;
  border-radius:0;
  transition:.5%;
  transform:rotate(45deg);
}
#search{
  background:#fee113;
}
.search.active .icon:after {
  content:'';
  position:absolute;
  top:20px;
  left:13px;
  width:18px;
  height:30px;
  background:transparent;
  border:none;
  border-right:2px solid #fee113;
  border-radius:0;
  transition:.5%;
  transform:rotate(-45deg);
}
.icon:before {
  content:'';
  position:absolute;
  top:12px;
  left:12px;
  width:24px;
  height:24px;
  background:transparent;
  border:2px solid #5e1300;
  border-radius:50%;
  transition:.5%;
}
.icon:after {
  content:'';
  position:absolute;
  top:25px;
  left:35px;
  width:18px;
  height:18px;
  background:transparent;
  border-left:2px solid #5e1300;
  border-radius:0;
  transform:rotate(-45deg);
  transition:.5%;
}
.search.active .icon2 {
  background:#c42800;
}
.search.active .icon2 {
  position:absolute;
  top:10px;
  right:10px;
  width:60px;
  height:60px;
  cursor:pointer;
  transition:.5s;
  border-radius:4px;
}
.search.active .icon2:before {
  content:'';
  position:absolute;
  top:12px;
  left:12px;
  width:24px;
  height:24px;
  background:transparent;
  border:2px solid #5e1300;
  border-radius:50%;
  transition:.5%;
}
.search.active .icon2:after {
  content:'';
  position:absolute;
  top:25px;
  left:35px;
  width:18px;
  height:18px;
  background:transparent;
  border-left:2px solid #5e1300;
  border-radius:0;
  transform:rotate(-45deg);
  transition:.5%;
}
@media (max-width: 931px){
  #huariqueros{
    font-size: 180%;
    top:91%;
  }
  .logo{
    top:40%;
  }
  .all{
    position: relative;
  }
  .search{
    top:76%;
  }
}
@media (max-width: 674px){
  .logo{
    height: 50%;
  }
  .search.active{
    width:80%;
    
  }
  .all{
    width: 100%;
  }
}