<div class="all">
  <div>
    <img class="logo" src="../../../assets/images/logoSinFondo.png" alt="">
  </div>
  <form (submit)="Buscar($event)">
    <div class="search" [ngClass]="status ? 'active' : 'inactive'">
      <input id="search" (keyup)="onKey($event)" type="text" placeholder="Que quieres comer hoy...">
      <!-- <div class="icon" (click)="abrirBusqueda()"></div> -->
      <div class="icon2" (click)="Buscar($event)"></div>
    </div>
  </form>
  <div id="huariqueros">
  <p>
    Ya somos <span [countUp]="2345543" (complete)="contadorfinalizado()">0</span> Huariqueros
  </p>
  </div>
</div>