<div class="text-center p-1">
    <h3> <strong> Ingresa los datos </strong></h3>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <mat-dialog-content>
                    <br>
                    <h5>Información del Negocio</h5>
                    <hr>
                <form action=""  [formGroup]="crearRestautante" (ngSubmit)="onSubmit()">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre del Restaurant</mat-label>
                        <input [formControl]="rest_nom" id="rest_nom" matInput placeholder="Nombre del Restaurant" >
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label> Direccion</mat-label>
                        <input [formControl]="rest_dir" type="text" id="rest_dir" matInput placeholder="Telefono del Restaurant">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Referencia de Dirección</mat-label>
                        <input [formControl]="rest_ref" id="rest_ref" matInput placeholder="Referencia de dirección">
                    </mat-form-field>

                    <mat-form-field appearance="outline" id="textDesc">
                        <mat-label>Información del Negocio</mat-label>
                        <textarea [formControl]="rest_info" id="rest_info" rows="5" matInput placeholder="Información del negocio"></textarea>
                    </mat-form-field>

                    <h5>Horario de Atención</h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="hora">
                                <mat-label>Hora de Apertura</mat-label>
                                <input [formControl]="h_abierto" type="time" name="h_abierto" matInput>
                            </mat-form-field>
                        </div>

                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="hora m-1">
                                <mat-label>Hora de Salida</mat-label>
                                <input [formControl]="h_cerrado" type="time" name="h_cerrado" matInput>
                            </mat-form-field>
                        </div>


                        <!-- HORARIOS DE ATENCION -->
                        <section class="example-section" [formControl]="checkDia" id="checkDia">
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Lun</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Mar</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Mier</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Jue</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Vie</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Sab</mat-checkbox>
                            <mat-checkbox class="example-margin m-1" [(ngModel)]="checked">Dom</mat-checkbox>
                        </section>


                    </div>


                    <br>
                    <h5>Ubicación</h5>

                    <hr>
                    <mat-form-field appearance="outline">
                        <mat-label>Latitud</mat-label>
                        <input [formControl]="latitud" matInput type="number" placeholder="Latitud">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Longitud</mat-label>
                        <input [formControl]="latitud" matInput type="number" placeholder="Longitud">
                    </mat-form-field>

                    <!-- MAPA -->

                    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13" (mapClick)="agregarMarcadorCre($event)">
                        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                    </agm-map>


                    <br>
                    <!-- <input type="file" matInput> -->
                    <button type="button" mat-raised-button color="basic" (click)="fileInput.click()"> Sube una Foto para tu restaurant  </button>
                    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">


                    <hr>
                    <div class="text-center">
                        <mat-dialog-actions>
                            <button color="warn" mat-raised-button mat-dialog-close>Cancelar</button>
                            <button color="primary" mat-raised-button [mat-dialog-close]="true" cdkFocusInitial
                                (click)="crearRest()">
                                Crear Restaurant
                            </button>
                        </mat-dialog-actions>
                    </div>



                </form>
            </mat-dialog-content>
        </div>
    </div>
</div>