#titulo-imagen-restaurante{
    transform: translateY(-250%);
    text-align: right;
    color:white;
    padding-right: 15px;
    padding-bottom: 1px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(140,3,3,1) 100%);
}