<div class="container-fluid">
  <div class="row">
    <div class="col-md-8" id="divImg">
      <img src="./../../../assets/yy.png" alt="Smiley face" height="590" width="110%">
    </div>
    <div class="col-md-4 text-center" id="divBtn">
      <div class="example-button-row">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="m-10" class="btn btn-block" (click)="openDialog()" mat-raised-button color="primary">
           <strong> Añade un restaurante </strong>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center bg-default">
      <h2> Tus Restaurantes</h2>
    </div>


    <div class="col-md-12 m-3" *ngIf="load">
      <mat-card class="example-card mb-5">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{rest_rSocialM}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imagen" alt="Photo of a Shiba Inu">
        <mat-card-content class="text-justify">
          <p>
            {{rest_direccionM}}
          </p>
        </mat-card-content>
        <mat-card-actions class="text-center">
          <button color="primary" mat-raised-button> <a matLine [routerLink]="[ '/vistv']">Administrar</a></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>