<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened style="background-color: #ffe61d">

    <div *ngIf="!restList">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="restList">
     
      <div class="ml-3 labelRating">{{labelRating}} </div>
      <mat-form-field class="ml-3">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Nombre">
      </mat-form-field>

      <ng-template #t let-fill="fill">
        <span class="star" [class.full]="fill === 100">
          <span class="half" [style.width.%]="fill">&#x24;</span>&#x24;
        </span>
      </ng-template>

      <ngb-rating class="rating-filter" (hover)="cambio($event)" (rateChange)="cambio($event)" [(rate)]="currentRate" [starTemplate]="t" [readonly]="false" max="5">
      </ngb-rating>
      
      <hr>

        <!-- table -->
      <table mat-table [dataSource]="rests" matSort multiTemplateDataRows style="background-color: #ffe61d; width: 400px;">

        <!-- Position Column -->
        <ng-container matColumnDef="rest_rSocial" class="td-restS">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
          <td  mat-cell *matCellDef="let objPlaya"> {{objPlaya.rest_rSocial}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="rating">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
          <td mat-cell *matCellDef="let objPlaya">
            <div class="star">
              <ng-template #t let-fill="fill">
                <span class="star" [class.full]="fill === 100">
                  <span class="half" [style.width.%]="fill">&#x24;</span>&#x24;
                </span>
              </ng-template>
              <ngb-rating [(rate)]="objPlaya.rating" [starTemplate]="t" [readonly]="true" max="5"></ngb-rating>
            </div>
            <br>
          </td>
        </ng-container>



        <!-- CONTENIDO -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let objPlaya" [attr.colspan]="displayedColumns.length">
            <div class="example-element-detail"
              [@detailExpand]="objPlaya == expandedElement ? 'expanded' : 'collapsed'">

              <div class="card info container mt-2 mb-2" style="background-color: #ffe61d">
                <div class="row">
                  <div class="col-6">
                    <div class=" card-subtitle " style="color: #5e130f">Horario de atención:</div>
                    <div class="ml-1 mb-2 d-inline-block btn btn-primary hora" role="button"
                      style="background-color: #c42800">{{objPlaya.rest_hApertura}}</div>
                    <span class="d-inline-block card-subtitle  ml-1 mr-1" style="color: #5e130f"> a </span>
                    <div class="mb-2 d-inline-block btn btn-primary hora" style="background-color: #c42800"
                      role="button">{{objPlaya.rest_hCierre}}</div>

                  </div>
                  <div class="col-6 align-self-center ubicacion">
                    <button type="button" (click)="openWindow(objPlaya.rest_id)"
                      class="shadow-none btn btn-primary btn-lg" style="background-color: #c42800;height: 5vh;">
                      Ver Ubicación
                      <i class="ml-1 fa fa-map-marker" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
                <div>
                  <div class="mt-1 card-subtitle " style="color: #5e130f">Dias de atención:</div>
                  <div *ngFor="let dia of objPlaya.dias" style="background-color: #c42800"
                    class="d-inline-block btn btn-primary hora mr-1" role="button">{{dia}}</div>

                </div>
              </div>

            </div>


          </td>

          <button mat-raised-button color="primary">Primary</button>
        </ng-container>
        <!-- /CONTENIDO -->

        <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

      <mat-paginator style="background-color: #ffe61d" [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
    </div>

    <div #nombreDelDiv>

    </div>
    <!-- Fin De la tabla-->
  </mat-drawer>

  <div class="example-sidenav-content">
    <button mat-raised-button (click)="drawer.toggle()">
      <mat-icon>notes</mat-icon>
    </button>
  </div>
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="13">
    <agm-marker *ngFor="let item of markers" class="item.rest_id" (markerClick)="openWindow(item.rest_id)"
      [animation]="'DROP'" [openInfoWindow]="true" [title]="item.rest_rSocial" [latitude]="item.rest_lat"
      [longitude]="item.rest_lng">
      <agm-info-window [isOpen]="isInfoWindowOpen(item.rest_id)" [disableAutoPan]="true" [zIndex]="item.rest_id"
        [latitude]="item.rest_lat" [longitude]="item.rest_lng">



        <div class="card">
          <div class="card-body">
            <h4 class="card-title">{{item.rest_rSocial}}</h4>

            <div class="d-inline-block card-subtitle text-muted ">Horario de atención:</div>
            <div class="ml-1 mb-2 d-inline-block btn btn-primary hora" style="background-color: #c42800" role="button">
              {{item.rest_hApertura}}</div>
            <span class="d-inline-block card-subtitle text-muted ml-1 mr-1"> a </span>
            <div class="mb-2 d-inline-block btn btn-primary hora" style="background-color: #c42800" role="button">
              {{item.rest_hCierre}}</div>

          </div>
          <img src={{item.rest_img}} class="restImg" alt="imagen del Agachadito">
          <div class="card-body">
            <p class="card-text "> {{item.rest_refUbicacion}}</p>
            <button type="button" (click)="verAgachadito()" style="background-color: #c42800"
              class="shadow-none btn btn-primary btn-lg btn-block  ">
              Ver Agachadito <i class="ml-1 fa fa-sign-in" aria-hidden="true"></i>
            </button>
          </div>
        </div>


      </agm-info-window>
    </agm-marker>
  </agm-map>

</mat-drawer-container>