<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-1">
      <!-- <app-datsen   ></app-datsen> -->
      <div>
        Actualiza tus datos sensibles
        <br>
        <br>
        <form action="" class="p-3">
          <mat-form-field>
            <input matInput  placeholder="Dirección" value="Urb. Monterrey 102">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="number" placeholder="Teléfono" value="941271568">
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="number" placeholder="Latitud" [(ngModel)]="latitud"   >
          </mat-form-field>
      
          <mat-form-field>
            <input matInput type="number" placeholder="Longitud"  >
          </mat-form-field>
      
      
          <br>
          <small style="color:green">*Sus nuevos datos serán verificados y luego actualizados</small>
          <br>
          <br>
          <div class="example-button-row">
            <button class="m-10" mat-raised-button color="warn">Enviar Actualización de Datos</button>
          </div>
        </form>
      </div>
    </div>





    <div class="col-md-8 p-1">
      <div>
        Puntuaciones
        <br>
        <!-- <app-anillo-chart></app-anillo-chart> -->
        <!-- <app-mapa-datasensible></app-mapa-datasensible> -->
        <agm-map 
              [latitude]="lat" 
              [longitude]="lng" 
              [zoom]="13" 
              (mapClick)="agregarMarcador($event)">
          <agm-marker *ngFor="let marcador of objMarcador" 
              [latitude]="marcador.lat" 
              [longitude]="marcador.lng"
              [iconUrl]="icon"

              >
          </agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</div>