<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div mat-dialog-content>
        <h5> <strong> Edite la información  básica de su restaurante </strong></h5>
      </div>
    
      <br>
      <div>
        <mat-form-field>
          <input matInput placeholder="Nombre del Restaurant" value="Tacos Mexi">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Referencia de dirección" value="Frente al Mall Aventura Porongoche">
        </mat-form-field>
        <br>
        <mat-form-field id="textDesc">
          <textarea matInput placeholder="Información del negocio"
            value="Nos dedicamos a la venta de tacos ridiendo un homenaje a la comida mexicana con una pizca de sabor peruano"></textarea>
        </mat-form-field>

        <hr>
        <h6> <strong> Modifique sus horarios de atención</strong></h6>
      </div>

      <div mat-dialog-actions>
        <button mat-raised-button (click)="onNoClick()" color="warn">Cancelar</button>
        <button mat-raised-button color="primary" [mat-dialog-close]="data.animal" cdkFocusInitial>Aceptar</button>
      </div>
    </div>
  </div>
</div>