<div>
  <div class=" spinner-border text-info center-block " role="status" *ngIf="noHayRest" id="spin">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container-fluid" id="cont" *ngIf="cargado">
  <br>
  <h4  class="ml-3">Información Actual de su Restaurant</h4>
  <br>



  <div class="container-fluid" style="height: 375px">
    
      <form action="" (ngSubmit)="guardarInfo()">
        <div class="form-row">
          <div class="form-group col-md-3 m-0 p-0 text-center">
            <img id="muestra" [src]=result[0].rest_img alt="Foto of {{result.rest_rSocial}}" class="pb-2">
            
            <br>
            <button *ngIf="estadoBtnGuard" type="button" class="btn btn-block" style="background-color: rgb(255, 217, 0);color: #5E1300 " (click)="fileInput.click()"> Sube una Foto para tu
              restaurant </button>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">

          </div>

          <div class="col-md-3 form-group  m-0 p-0">
            <mat-form-field appearance="outline">
              <mat-label>Nombre del Restaurant</mat-label>
              <input name="social" [(ngModel)]="result[0].rest_rSocial" id="rest_nom" matInput
                placeholder="Nombre del Restaurant" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Referencia de Dirección</mat-label>
              <input name="refDir" [(ngModel)]="result[0].rest_refUbicacion" id="rest_ref" matInput
                placeholder="Referencia de dirección" readonly>
            </mat-form-field>
            
            <br>
            <mat-form-field appearance="outline" id="textDesc">
              <mat-label>Información del Negocio</mat-label>
              <textarea name="InfoNeg" [(ngModel)]="result[0].rest_info" id="rest_info" rows="5" matInput readonly
                placeholder="Información del negocio"></textarea>
            </mat-form-field>


          </div>

          <div class="col-md-4 form-group m-0 pl-3 pr-0">
            <div class="container">
              <div class="row">
                <div *ngIf="leer">
                  <h5>Dias de Atención</h5>
                  <p>{{result[0].rest_dAtencion}}</p>
                  <hr>
                  <h5>Hora de Apertura</h5>
                  <p>{{result[0].rest_hApertura}}</p>
                  <br>
                  <h5>Hora de Cierre</h5>
                  <p>{{result[0].rest_hCierre}}</p>
                </div>

                <div class="col-md-3 text-right">
                  <h6 hidden="hidden" id="selectHor">Seleccione su Horario (AM / PM)</h6>
                  <br>
                  <h6 hidden="hidden" id="selectDia">Seleccione el o los días para ese horario</h6>
                </div>
                <div class="col-md-9 m-0 text-center">
                  <mat-form-field id="h_abierto" hidden="hidden" appearance="outline" class="hora">
                    <input type="time" name="hAb" [(ngModel)]="horario.h_abierto" matInput readonly>
                  </mat-form-field>
                  <!-- <div id="a" hidden="hidden">  a </div> -->
                  <mat-form-field id="h_cerrado" hidden="hidden" appearance="outline" class="hora m-1">
                    <input type="time" [(ngModel)]="horario.h_cerrado" name="hCe" matInput readonly>
                  </mat-form-field>
                  <br>
                  <br>
                  <section class="example-section" id="checkDia" hidden="hidden">
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedL">Lun</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedM">Mar</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedMi">Mier</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedJ">Jue</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedV">Vie</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedS">Sab</mat-checkbox>
                    <mat-checkbox class="example-margin" [(ngModel)]="checkedD">Dom</mat-checkbox>
                  </section>

                  <br>
                </div>
                <div>





                </div>
              </div>
            </div>
          </div>

          <div class="col-md-2 form-group m-0 p-0">
            <br>
            <br>
            <br>
            <div *ngIf="estadoBtnEdit" class="example-button-row" id="btnEditInfo">
              <button class="btn btn-block   mr-3" mat-raised-button type="button" style="background-color: #ffE61D;color: #5E1300 "  (click)="habilitarEdicion()"> <strong> Editar
                Información </strong></button>
                <!-- <button class="btn btn-block btn-secondary  mr-3"  type="button" style="background-color: #ffE61D;color: #5E1300 " (click)="Buscar($event)">Buscar</button> -->
            </div>
            <div *ngIf="estadoBtnGuard" class="example-button-row" id="btnGuarInfo">
              <button class="btn-block" mat-raised-button color="warn" (click)="guardarInfo()">Guardar
                Información
              </button>
            </div>
          </div>
        </div>
      </form>
    
  </div>

  <hr>


  <!-- BOTONES QUE LLAMAN A LOS DEMAS COMPONENTES -->

  <div class="row">
    <div class="col-md-4 p-1">
      <!-- <app-lista-usuarios></app-lista-usuarios> -->
      <div class="example-button-row">
        <button class="btn-block p-1" id="btnBlank"  mat-raised-button  [routerLink]="[ '/vistv/prin']"><strong> <a
              matLine>Dashboard</a></strong></button>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <!-- <app-chat></app-chat> -->
      <div class="example-button-row">
        <button class="btn-block p-1" id="btnBlank" mat-raised-button  [routerLink]="[ '/vistv/edmen']"> <strong> <a
              matLine> Productos</a> </strong></button>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <!-- <app-chat></app-chat> -->
      <div class="example-button-row">
        <button class="btn-block p-1" id="btnBlank" mat-raised-button [routerLink]="[ '/vistv/datsen']"> <strong> <a
              matLine>Datos Sensibles</a> </strong></button>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>

</div>