<mat-card class="example-card">
  <mat-card-header>
    <mat-icon>account_circle</mat-icon>
    <mat-card-title>Iniciar sesión</mat-card-title>
    <mat-card-subtitle>Inicia sesion para guardar tus lugares, dar reseñas y recomendarte nuevos luegares en base a tus
      preferencias</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <input matInput type="email" placeholder="Correo" [(ngModel)]="objUsuario.usu_email" name="usu_email">
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" [(ngModel)]="objUsuario.usu_pass" name="usu_pass">
      </mat-form-field>
    </div>

  </mat-card-content>
  <mat-card-actions>
      <button mat-button (click)="onNoClick()">Cancelar</button>
      <button class="ml-3" mat-button (click)="login()">Ingresar</button>
      <button class=" btn btn-block fa fa-facebook" (click)="signInWithFB()">Iniciar sesión con Facebook</button>
      <button class=" btn btn-block fa fa-google"(click)="signInWithGoogle()">Iniciar sesión con Google</button>
   
  </mat-card-actions>
</mat-card>