#toobar{
    height: 5%;
}
.usu_img{
    height: 50px;
    width: 50px;
}
.btn_user{
    width: 70px;
    outline: none;
}
.search{
    margin: 0 !important;
    padding: 0 !important;
    height: 20px;
}