#toobar{
    height: 5%;
}
.usu_img{
    height: 70px;
    width: 70px;
}
.btn_user{
    width: 70px;
    outline: none;
}
.search{
    margin: 0 !important;
    padding: 0 !important;
    height: 20px;
}.buscador{
    padding-bottom: -30px !important;
    margin-bottom:  -30px !important;
}