.logo{
    height: 40vh
}
#all{
    background-image: url("./../../../assets/images/back.png");
    background-size: 300px 300px;
    min-height: 92vh;
    height: auto;
    margin: 0;
    min-width: 100vh;
    width: auto;
    overflow-y: hidden;
}
@media (max-width: 931px){
    #all{
        background-size: 300px 300px;
        min-height: 89.6vh;
        height: auto;
        margin: 0;
        min-width: 100vh;
        width: auto;
        overflow-y: hidden;
    }
}