<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-1">
      <div>
        Busquedas y visitas
        <br>
        <app-bar-chart></app-bar-chart>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div>
        Puntuaciones
        <br>
        <app-anillo-chart></app-anillo-chart>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div>
        Mas vendido
        <app-pie-chart></app-pie-chart>
        <!-- <app-radar-chart></app-radar-chart> -->
      </div>
    </div>
  </div>
</div>