<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-1">
      <div class="text-center">
        <h2> Busquedas y visitas </h2>
        <br>
        <app-bar-chart></app-bar-chart>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div class="text-center">
        <h2> Puntuaciones</h2>
        <br>
        <app-anillo-chart></app-anillo-chart>
      </div>
    </div>

    <div class="col-md-4 p-1">
      <div class="text-center"> 
        <h2> Mas vendido </h2>
        <app-pie-chart></app-pie-chart>
        <!-- <app-radar-chart></app-radar-chart> -->
      </div>
    </div>
  </div>
</div>