/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~css-star-rating/css/star-rating.css';
html, body {
    height: 100vh;
    margin: 0;
    }
    #estrellas #estrellas:focus{
        outline: 0
    }ngb-rating{
        outline: none;
    }.mat-column-rest_rSocial{
        width: 250px;
    }.mat-column-rating{
        width: 250px;
    }table{
        width:400px;  
    }