<nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color:#c42800">
  <a class="navbar-brand" (click)="resetInicio()" [routerLink]="['']"><img src="../../../assets/images/titulo2.png" style="height: 6vh;" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['agregar']" routerLinkActive="router-link-active">Agregar un Huarique<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form (submit)="Buscar($event)" *ngIf="!inicio">
      <mat-form-field>
        <input placeholder="Buscar" matInput (keyup)="onKey($event)"  type="text">
      </mat-form-field>
      <button class="btn btn-secondary my-2 my-sm-0 ml-3" type="button" style="background-color: #ffE61D;color: #5E1300 " (click)="Buscar($event)">Buscar</button>
    </form>
    <!-- <form id="nose"[formGroup]="stateForm"  *ngIf="!inicio">
      <mat-form-field appearance="outline" class="mr-3">
        <mat-label>Seleccione Categoria</mat-label>
        <input class="search" type="text" matInput formControlName="stateGroup" [matAutocomplete]="autoGroup">
        <button matSuffix mat-icon-button aria-label="Example icon-button with a heart icon">
          <mat-icon matSuffix>search</mat-icon>
        </button>
        <mat-autocomplete  #autoGroup="matAutocomplete">
          <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
            <mat-option *ngFor="let name of group.names" [value]="name">
              {{name}}
            </mat-option>
          </mat-optgroup>
        </mat-autocomplete>
      </mat-form-field>
    </form> -->
    <button *ngIf="user==false" class="btn btn-secondary my-2 my-sm-0 ml-3" type="button" style="background-color: #ffE61D;color: #5E1300 " (click)="openDialog()">Iniciar
      Sesión
    </button>
    <div *ngIf="user==null"></div>
    <button  *ngIf="user" class="btn_user ml-1 mr-3" mat-button [matMenuTriggerFor]="menu">
      <img src={{p.usu_img}} id="imgUsu" class="rounded-circle usu_img" alt="">
      <mat-icon matSuffix>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="userRest" (click)="gestRest()">
        <mat-icon>table-chart</mat-icon>
        <span>Restaurantes</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>


  </div>
</nav>
<!-- <nav id="navbar" class="navbar navbar-expand-lg navbar-dark" style="background-color:#c42800" *ngIf="inicio">
  <a class="navbar-brand" href="#">Agachaditos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['agregar']" routerLinkActive="router-link-active">Agregar un Huarique<span
            class="sr-only">(current)</span></a>
      </li>
    </ul>
    <button *ngIf="user==false" class="btn btn-secondary my-2 my-sm-0 ml-3" type="button" style="background-color: #ffE61D;color: #5E1300 " (click)="openDialog()">Iniciar
      Sesión
    </button>
    <div *ngIf="user==null"></div>
    <button   *ngIf="user" class="btn_user ml-1 mr-3" mat-button [matMenuTriggerFor]="menu">
      <img src={{p.usu_img}} id="imgUsu" class="rounded-circle usu_img" alt="">
      <mat-icon matSuffix>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="userRest" (click)="gestRest()">
        <mat-icon>table-chart</mat-icon>
        <span>Restaurantes</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>


  </div>
</nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#c42800" *ngIf="!inicio">
  <a class="navbar-brand" href="#">Agachaditos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/promo']" routerLinkActive="router-link-active">Otros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn my-2 my-sm-0 mr-1" style="background-color: #ffE61D; color:#5e1300"
        type="button">Search</button>
      <button class="btn my-2 my-sm-0" style="background-color: #ffE61D;color: #5E1300 " type="button"
        (click)="openDialog()">Iniciar Sesion</button>
    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#c42800" *ngIf="inicio">
  <a class="navbar-brand" href="#">Agachaditos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Inicio <span
            class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/promo']" routerLinkActive="router-link-active">Otros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn my-2 my-sm-0" style="background-color: #ffE61D;color: #5E1300 " type="button"
        (click)="openDialog()">Iniciar Sesion</button>
    </form>
  </div>
</nav> -->