
#nose{
    height: 3px;
};
.imgnav{
    content:url("../../../assets/images/titulo2.png");
    height: 6vh;
}
#imgUsu{
    height: 6vh;
}
@media (min-width: 992px){
    #navbar{
        height: 8vh;
    }
}